In [1]:
import pandas as pd 

orders = pd.read_csv("orders.csv")

# Print a specific number of rows in the DataFrame
print(orders.head(10))

      id first_name    last_name                         email     shoe_type  \
0  41874       Kyle         Peck          KylePeck71@gmail.com  ballet flats
1  31349  Elizabeth    Velazquez      EVelazquez1971@gmail.com         boots
2  43416      Keith     Saunders              KS4047@gmail.com       sandals
3  56054       Ryan      Sweeney     RyanSweeney14@outlook.com       sandals
4  77402      Donna  Blankenship              DB3807@gmail.com     stilettos
5  97148     Albert       Dillon       Albert.Dillon@gmail.com        wedges
6  19998     Judith       Hewitt      JudithHewitt98@gmail.com     stilettos
7  83290      Kayla       Hardin        Kayla.Hardin@gmail.com     stilettos
8  77867     Steven  Blankenship  Steven.Blankenship@gmail.com        wedges
9  54885      Carol   Mclaughlin              CM3415@gmail.com  ballet flats

  shoe_material shoe_color  price
0  faux-leather      black  385.0
1        fabric      brown  388.0
2       leather       navy  346.0
3        fabric      brown  344.0
4        fabric      brown  289.0
5        fabric      brown  266.0
6       leather      black  395.0
7       leather      white  241.0
8       leather       navy  266.0
9  faux-leather      brown  440.0

In [5]:
# Aggregates in Pandas 
# Mean of the column

median_in_orders = orders.price.median()
print(f"The median is: {median_in_orders}")

The median is: 285.5

In [6]:
# Standard deviation in a column

standard_deviation = orders.price.std()
print(f"Standard deviation: {standard_deviation}")

Standard deviation: 110.95477278241789

In [7]:
# Mean in a column 

mean_in_orders = orders.price.mean()
print(f"The mean is: {mean_in_orders}")

The mean is: 289.1326530612245

In [5]:
# count a specific element in a column 
shoe_type_count = orders.shoe_type.count()
print(shoe_type_count)

99

In [4]:
max_price = orders.price.max()
print(f"Max price: {max_price}")

Max price: 493.0

In [5]:
min_price = orders.price.min()
print(f"Min price: {min_price}")

Min price: 91.0

# Calculating Aggregate Functions
We sometimes need to make calculations for a subset of the population. A general syntax for this functionality is: 

```python 
df.groupby('column1').column2.measurement()
```

Where the column1 is the column that we want to group by, the column2 is the column that we want to perform a measurement on, and the measurement is the measurement function we want to apply.

In [5]:
pricey_shoes = orders.groupby('shoe_type').price.max()
pricey_shoes

shoe_type
ballet flats    481.0
boots           478.0
clogs           493.0
sandals         456.0
stilettos       487.0
wedges          461.0
Name: price, dtype: float64

After getting a groupby element, we have to clean the resulting data. A groupby generates a **series** not a dataframe. We can use `reset_index()`. This will transform our series into a dataframe and move the indices into their own column. 

The syntaxis for this functionality is: 

```python 
df.groupby('column1').column2.measurement().reset_index()
```

Afterwards, we would need to rename the column that we got. We could achieve this by using the `rename` method: 

```python 
column = column.rename(columns={"id": "counts"})
```

This code would change the name of id by counts.

In [10]:
pricey_shoes = orders.groupby('shoe_type').price.max().reset_index()

pricey_shoes = pricey_shoes.rename(columns={'price': 'max_price'})
pricey_shoes

      shoe_type  max_price
0  ballet flats      481.0
1         boots      478.0
2         clogs      493.0
3       sandals      456.0
4     stilettos      487.0
5        wedges      461.0

When the operation may be more difficult than a mean or count, we can use the `apply` method, and lambda functions. For example, by trying to use the percentiles.

In [11]:
import numpy as np

cheap_shoes = orders.groupby('shoe_color').price.apply(
    lambda x: np.percentile(x, 25)
).reset_index()

print(cheap_shoes)

  shoe_color  price
0      black    NaN
1      brown  193.5
2       navy  205.5
3        red  250.0
4      white  196.0

We can group multiple columns by specifying them in a list when calling the groupby method. For example, if we are trying to count a specific combination of shoes we can use this code

In [14]:
shoe_counts = orders.groupby(['shoe_type', 'shoe_color']).id.count().reset_index()
shoe_counts.head()

      shoe_type shoe_color  id
0  ballet flats      black   2
1  ballet flats      brown   5
2  ballet flats        red   3
3  ballet flats      white   5
4         boots      black   3

# Pivot Tables 
When grouping by multiple columns, we would want to change how our data is stored. For example, if we have a store with data about different number of sales at different locations on different days. 

Reorganizing the table on a way better readable form is by using the pivoting method for the dataframe. 

```python
df.pivot(columns='ColumnToPivot',
         index='ColumnToBeRows',
         values='ColumnToBeValues')
```

In [15]:
shoe_counts = orders.groupby(['shoe_type', 'shoe_color']).id.count().reset_index()

shoe_counts_pivot = shoe_counts.pivot(
    columns='shoe_color',
    index='shoe_type',
    values='id'
).reset_index()

shoe_counts_pivot

shoe_color     shoe_type  black  brown  navy  red  white
0           ballet flats    2.0    5.0   NaN  3.0    5.0
1                  boots    3.0    5.0   6.0  2.0    3.0
2                  clogs    4.0    6.0   1.0  4.0    1.0
3                sandals    1.0    4.0   5.0  3.0    4.0
4              stilettos    5.0    3.0   2.0  2.0    2.0
5                 wedges    3.0    4.0   4.0  5.0    2.0

# Not operator
The `~` is a NOT operator in pandas