# Adding a Column to a DataFrame I 
Sometimes, we want to add a column to an existing DataFrame. One way that we can add a new column is by giving a list of the same length as the existing DataFrame.

In [1]:
import pandas as pd

df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

# Add columns here
df['Sold in Bulk?'] = ["Yes", "Yes", "No", "No"]

print(df)

   Product ID   Description  Cost to Manufacture  Price Sold in Bulk?
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No

# Adding a Column to a DataFrame II
We can also add a new column that is the same for all rows in the DataFrame.

In [2]:
df['Is taxed?'] = "Yes"

print(df)

   Product ID   Description  Cost to Manufacture  Price Sold in Bulk?  \
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No

  Is taxed?
0       Yes
1       Yes
2       Yes
3       Yes

# Adding a Column to a DataFrame III
You can add a column to a table performing an operation on another column. For example if we want to calculate a tax on a column named price we can use this method in order to accomplish this.

In [3]:
df['Margin'] = df['Price'] - df['Cost to Manufacture']
print(df)

   Product ID   Description  Cost to Manufacture  Price Sold in Bulk?  \
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No

  Is taxed?  Margin
0       Yes    0.25
1       Yes    0.15
2       Yes    2.50
3       Yes    0.50

# Performing Column Operations
When we want to modify a specific column based on an operation, we could use the apply function to apply a function to every value in a particular column.

In [7]:
df['Lowercase Description'] = df.Description.apply(str.lower)

print(df)

   Product ID   Description  Cost to Manufacture  Price Sold in Bulk?  \
0           1  3 inch screw                  0.5   0.75           Yes
1           2   2 inch nail                  0.1   0.25           Yes
2           3        hammer                  3.0   5.50            No
3           4   screwdriver                  2.5   3.00            No

  Is taxed?  Margin Lowercase Name Lowercase Description
0       Yes    0.25   3 inch screw          3 inch screw
1       Yes    0.15    2 inch nail           2 inch nail
2       Yes    2.50         hammer                hammer
3       Yes    0.50    screwdriver           screwdriver

# Applying a Lambda to a Column
In order to apply a lambda function to a column, we can use the same syntax of .apply but inside it will receive the lambda function.

In [6]:
# Get the user's last name and add it as a column
import pandas as pd
 
df = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75, "Lauren Durham"],
  [2, '2 inch nail', 0.10, 0.25, "Grant Liu"],
  [3, 'hammer', 3.00, 5.50, "Shirley Rasmussen"],
  [4, 'screwdriver', 2.50, 3.00, "Brodie Walker"]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price', "name"]
)


get_last_name = lambda name: name.split()[-1]

df['last_name'] = df.name.apply(
    get_last_name
)

print(df)

   Product ID   Description  Cost to Manufacture  Price               name  \
0           1  3 inch screw                  0.5   0.75      Lauren Durham
1           2   2 inch nail                  0.1   0.25          Grant Liu
2           3        hammer                  3.0   5.50  Shirley Rasmussen
3           4   screwdriver                  2.5   3.00      Brodie Walker

   last_name
0     Durham
1        Liu
2  Rasmussen
3     Walker

# Applying a Lambda to a Row 
We can also operate on multiple columns at one. If we use apply without specifying a single column and add the argument axis=1, the input to our lambda function will be an entire row, not a column. 

To access a particular values of the row, we use the syntax row.column_name or row['column_name']

In [ ]:
# Suppose we have a row calles is taxed? and we want to multiply Price by 1.075 if the row is Yes
total_earned = lambda row: (row.hourly_wage * 40) + ((row.hourly_wage * 1.5) * (row.hours_worked - 40)) \
	if row.hours_worked > 40 \
  else row.hourly_wage * row.hours_worked
  
df['total_earned'] = df.apply(total_earned, axis = 1)

print(df)

# Renaming Columns 
You can change all of the column names at once by setting the .columns property to a different list. Just by using `df.columns['Col1', 'Col2']`

In [12]:
df = pd.DataFrame({
    'name': ['John', 'Jane', 'Sue', 'Fred'],
    'age': [23, 29, 21, 18]
})
df.columns = ['First Name', 'Age']

print(df)

  First Name  Age
0       John   23
1       Jane   29
2        Sue   21
3       Fred   18

# Renaming Columns II
You can also rename individual columns by using the `.rename` method. Pass a dictionary like the one below to the columns keyword argument: 

```python
{'old_column_name1': 'new_column_name1', 'old_column_name2': 'new_column_name2'}
```

In [15]:
# Rename individual columns using .rename()
df.rename(columns={
    "First Name": "The first name",
    "Age": "The age",
})

# We can use inplace=True to modify the original DataFrame
df.rename(columns={
    "First Name": "The first name",
    "Age": "The age",
}, inplace=True)

# Conclusion code

In [ ]:
orders = pd.DataFrame({
    'order_id': [1, 2, 3, 4],
})
orders['shoe_source'] = orders.shoe_material.apply(
  lambda mat: "vegan" if mat != "leather" else "animal"
)

orders['salutation'] = orders.apply(lambda row: \
                                    'Dear Mr. ' + row['last_name']
                                    if row['gender'] == 'male'
                                    else 'Dear Ms. ' + row['last_name'],
                                    axis=1)